<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="true"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false">
         <testsuites>
             <testsuite name="web">
                 <directory>./tests</directory>
             </testsuite>
         </testsuites>
</phpunit>
